body{
   
}
#header-nav{
    height: fit-content;
    background-color: #37474F;
    color: #FAFAFA;
    padding-bottom: 5px;
    padding-top: 5px;
}
.navbar-brand{
    color: #FAFAFA;
    font-family: 'Indie Flower', cursive;
    font-size:xx-large;
    text-shadow: #F5F5F5;
}
.nav-item{
    font-size: large;
    color: #FFFFFF;
}

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
    .navbar-brand{
        font-size: x-large;
    }
    .navbar-toggler{
        float: right;
        margin-right: 0px;
        padding-right: 0px;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }