body {
    background-color: #424242;
}

.dropdown-item {
    background-color: #ECEFF1;
}

.req {
    color: darkred;
}

h1 {
    margin-left: 30px;
    margin-top: 5%;
    color: #FAFAFA;
}
.row{
    margin: 30px;
}
form{
    margin:0px;padding-left: 0px;
}
form{
    background-color:#E8EAF6; opacity: 1.0;
}
.form-group{
    width: 70%; margin-left: 10%;
}

img{
    height:100%;
    width:100%;
}
.input-field{
    margin-top: 4%;
}
div[contentEditable] {
    cursor: pointer;
    background-color: #D0D0D0;
}
